<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Update</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/e2cd4330ca.js"></script>
</head>
<body>
  <div class="jumbotron">
    <h1 class="float-left">Edit User {{user[0].id}}</h1>
    <a class="fas fa-sign-out-alt fa-3x d-inline float-right ml-3" href='/'></a>
    <a class="fas fa-home fa-3x d-inline float-right" href='/users'></a>
  </div>

  <div class="container">
    <form action="/users/{{user[0].id}}/edit" method="POST">
      <div class="form-group">
        <label for="first_name">First Name:</label>
        <input type="text" class="form-control" id="first_name" name="fname-new" value="{{user[0].first_name}}">
        {% with errors = get_flashed_messages(category_filter=["fname"]) %}
          {% if errors %}
            {%- for msg in errors %}
              <p class="text-danger">{{ msg }}</p>
            {% endfor -%}
          {% endif %}
        {% endwith %}
      </div>
      <div class="form-group">
        <label for="last_name">Last Name:</label>
        <input type="text" class="form-control" id="last_name" name="lname-new" value="{{user[0].last_name}}">
        {% with errors = get_flashed_messages(category_filter=["lname"]) %}
          {% if errors %}
            {%- for msg in errors %}
              <p class="text-danger">{{ msg }}</p>
            {% endfor -%}
          {% endif %}
        {% endwith %}
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email:</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email-new"  value="{{user[0].email}}">
        {% with errors = get_flashed_messages(category_filter=["email"]) %}
          {% if errors %}
            {%- for msg in errors %}
              <p class="text-danger">{{ msg }}</p>
            {% endfor -%}
          {% endif %}
        {% endwith %}
      </div>
      
      <div class="form-group">
        <label for="user_level">User Level:</label>
        <select class="form-control" id="user_level" name="user_level-new">
          <option selected>{{user[0].user_level}}</option>
          <option value="User">User</option>
          <option value="Administrator">Administrator</option>
        </select>
      </div>

      <button type="submit" class="btn btn-danger float-right">Update</button>
      <a class='btn btn-sm btn-secondary mt-2 float-left' href='/users/{{user[0].id}}'>Show User</a>
    
    </form>
  </div>
</body>
</html>